[submodule "tree-sitter"]
	path = deps/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
	shallow = true
[submodule "deps/libgit2"]
	path = deps/libgit2
	url = https://github.com/libgit2/libgit2
	shallow = true
[submodule "deps/pcre2"]
	path = deps/pcre2
	url = https://github.com/PCRE2Project/pcre2
	shallow = true
[submodule "deps/tree-sitter-wiki"]
	path = deps/tree-sitter-wiki
	url = https://github.com/tree-sitter/tree-sitter.wiki.git
[submodule "deps/LuaBridge"]
	path = deps/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge/
